<!-- 
Filename:     views/error.ejs
Student name: Kyle O'Keeffe
StudentID:    301156790
Date:         Oct. 30, 2021 
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
