<!-- 
Filename:     views/index.ejs
Student name: Kyle O'Keeffe
StudentID:    301156790
Date:         Oct. 30, 2021 
-->

<% include partials/header.ejs %>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>


<% include partials/footer.ejs %>
